<div class="about page">
  <div class="body">
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias assumenda placeat ullam voluptate ab corporis totam suscipit, labore odit veritatis deleniti, architecto repellendus quibusdam quam fugit enim cumque qui!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nihil possimus debitis earum sapiente numquam eaque enim quidem fuga, perferendis quae id maiores rem sequi delectus deserunt placeat obcaecati voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam distinctio nulla eveniet, hic, at suscipit officiis illo eos praesentium facilis nihil, earum! Unde iste architecto error eveniet, natus assumenda nulla.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ipsa voluptas, molestiae mollitia minus sapiente repellat laboriosam delectus reprehenderit at quod? Iure quidem quam consequatur esse enim. Fugiat recusandae, unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus saepe voluptatem accusamus voluptate sapiente laudantium ipsa nam fugiat molestias a officiis dignissimos, quo, porro aut deleniti maiores. Blanditiis, aperiam, harum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quis, nesciunt quos. Sed eos veritatis, harum neque cupiditate consectetur sunt voluptatibus mollitia corporis accusantium. Minus blanditiis recusandae ipsum minima quia!</p></p>
  </div>
</div>