@import 'susy';

$footer-height: 80px;

footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: $footer-height;
  padding: 0 1em;
  width: 100%;
  color: lighten($green-gumLeaf, 10%);
  text-align: center;
  background: $green-forestGreen;
}
footer a {
  color: lighten($green-gumLeaf, 10%);
  &:hover {
    color: #fff;
  }  
}
footer div {
  @include container(960px);
}
footer span.copyright {
  float: right;
  line-height: $footer-height;
}
footer nav {
  float: left;
  height: $footer-height;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer li {
  display: inline-block;
  line-height: $footer-height;
  padding: 0 0.5em;
}

@media (max-width: 600px) {
  footer nav,
  footer span.copyright {
    float: none;
  }
  footer nav {
    height: $footer-height/2;
  }
  footer span.copyright {
    line-height: $footer-height/4;
  }
}