@import 'susy';

footer {
  width: 100%;
  color: lighten($gum-leaf, 10%);
  text-align: center;
  background: $forest-green;
}

footer a {
  color: lighten($gum-leaf, 10%);
  line-height: 1.2em;
  &:hover {
    color: #fff;
  }
}

footer > div {
  @include container(960px);
  padding: 0 2em;
}

footer span.copyright {
  float: right;
  line-height: 60px;
}

footer nav {
  float: left;
  height: 60px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
  line-height: 60px;
  padding: 0 .5em;
  margin: 0;
}

@media (max-width: 600px) {
  footer nav,
  footer span.copyright {
    float: none;
  }

  footer nav {
    height: 60px/4;
  }

  footer span.copyright {
    line-height: 60px/4;
  }
}