@import 'susy';

$header-height: 50px;

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: $header-height;
  padding: 0 1em;
  background: transparent;

  > div {
    @include container(960px);
    height: $header-height;
  }

  svg {
    float: left;
    width: 200px;
    height: $header-height;
  }

  .sw-logo span:first-of-type {
    font-weight: bold;
  }

  .sw-link {
    border: 0;

    &:hover {
      border: 0;
    }
  }

  nav {
    float: right;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding: 0 0.5em;
    line-height: $header-height;
    transition: 0.3s;
  }

  nav a {
    padding: 0 0.3em;
    line-height: $header-height/1.5;
  }
}

//
// Header color schemes
// -----
// Dark: Green background
// Light: Transparent background
//
header.light {
  color: $forest-green;
}

header.light svg {
  display: inline-block;
  padding: 0px 20px;
  background: $forest-green;
  border-top: 5px solid $white;
}

header.light svg path {
  fill: $white;
}

header.light nav a {
  color: $forest-green;
  &:hover {
    color: lighten($forest-green,10%);
    border-color: transparent;
  }
}

header.dark {
  color: $white;
  background: $forest-green;
}

header.dark svg path {
  fill: lighten($gum-leaf,20%);
}

header.dark .sign-in {
  background: $forest-green;
  color: lighten($gum-leaf,5%);
  border: 1px solid $gum-leaf;
  &:hover {
    background: $gum-leaf;
  }
}

header.dark nav a {
  color: $gum-leaf;
  &:hover {
    color: $white;
    border-color: transparent;
  }
}