@import 'susy';

$header-height: 50px;

header {
  position: absolute;
  z-index: 10;
  height: $header-height;
  padding: 0 1em;
  width: 100%;
  background: transparent;
}
header > div {
  @include container(960px);
  height: $header-height;
}
header svg {
  float: left;
  width: 200px;
  height: $header-height;
}
header .sw-logo span:first-of-type {
  font-weight: bold;
}
header nav {
  float: right;
}
header,
footer {
  ul, 
  li {
    padding: 0;
    margin: 0;
  }
}
header ul {
  list-style-type: none;
}
header li {
  display: inline-block;
  padding: 0 0.5em;
  line-height: $header-height;
  transition: 0.3s;
}
header nav a {
  padding: 0 0.3em;
  line-height: $header-height/1.5;
}

//
// Header color schemes
// -----
// Dark: Green background
// Light: Transparent background
//
header.light {
  color: $green-forestGreen;
}
header.light svg path {
  fill: $green-forestGreen;
}
header.light nav a {
  color: $green-forestGreen;
  &:hover {
    color: lighten($green-forestGreen,10%);
    border-color: transparent;
  }
}
header.dark {
  color: $white;
  background: $green-forestGreen;
}
header.dark svg path {
  fill: lighten($green-gumLeaf,20%);
}
header.dark .sign-in {
  background: $green-forestGreen;
  color: lighten($green-gumLeaf,5%);
  border: 1px solid $green-gumLeaf;
  &:hover {
    background: $green-gumLeaf;
  }
}
header.dark nav a {
  color: $green-gumLeaf;
  &:hover {
    color: $white;
    border-color: transparent;
  }
}