// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_session {
  position: relative;
  top: 150px;
  width: 300px;
  padding-bottom: 100px;
  margin: 0 auto;

  input {
    width: 100%;
  }

  input[type="submit"] {
    margin: 20px 0 40px;
  }

  p {
    text-align: center;
  }
}