// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_user {
  position: relative;
  top: 100px;
  width: 400px;
  padding-bottom: 100px;
  margin: 0 auto;

  input {
    width: 100%;
  }

  input[type="submit"] {
    margin-top: 20px;
    border-radius: 10px;
  }
}

.profile.page {


}