// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'susy';

.welcome-hero {
  @include container(960px);
  padding-bottom: 200px;
}

.welcome-hero .side-pane {
  float: left;
  width: 50%;
}

.welcome-hero .side-pane:first-child {
  padding-top: 12vh;
}

.welcome-hero .side-pane:last-child {

}

.welcome-hero .sw-network {
  max-width: 90%;
  margin: 100px auto 0;
}

.welcome-hero .form-wrapper {
  position: relative;
  width: 480px;
  max-width: 100%;
  padding: 3em 4em 1em;
  margin: 0 auto;
  background: $white;

  h3 {
    // Coming Soon
    margin: 0;
    font-size: 56px;
    font-weight: bold;
    color: $gum-leaf;
  }

  h5 {
    // Pardon our dist
    margin: 0 0 .75em;
    color: $forest-green;
  }

  p {
    margin-bottom: 1em;
  }
}

@media (max-width: 800px) {
  .welcome-hero .side-pane:first-child {
    width: 100%;
  }
  .welcome-hero .side-pane:last-child {
    display: none;
  }
  .welcome-hero .form-wrapper {

  }
}