<footer>
  <div>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/terms">Terms & Privacy</a></li>
      </ul>
    </nav>
    <span class="copyright">
      &copy; 2015 Sage Wanted
    </span>
  </div>
</footer>