<header class=<%= @dark_header ? 'dark' : 'light' %>>
  <div>
    <%= render 'shared/sw_logo' %>
    <nav>
      <ul>
        <li><a href="#">Get Started</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#" class="sign-in button button-primary">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>